<div class="list-suggestion-container">
  <h1 class="page-title">Liste des suggestions</h1>

  <div class="search-container">
    <input type="text" class="search-input" [placeholder]="placeholder" [(ngModel)]="searchTerm" (input)="filterSuggestions()">
  </div>

  <div class="suggestions-list">
    <div class="suggestion-card" *ngFor="let s of filteredSuggestions">
      <div class="card-header">
        <h2 class="suggestion-title">{{s.title}}</h2>
      </div>

      <div class="card-meta">
        <span class="category">{{s.category}}</span>
        <span class="date">{{s.date | date}}</span>
      </div>

      <p class="suggestion-description">{{s.description}}</p>

      <div class="card-footer">
        <span class="status-badge" [ngClass]="{
            'status-accepted': s.status === 'acceptee',
            'status-refused': s.status === 'refusee',
            'status-pending': s.status === 'en_attente'
        }">
            {{s.status}}
        </span>

        <div class="action-buttons" *ngIf="s.status !== 'refusee'">
          <button class="btn-like" (click)="incrementLikes(s)">
            <span class="icon">👍</span>
           {{s.nbLikes}}
          </button>
          <button (click)="addToFavoris(s)" class="btn-favorite">
            <span class="icon">❤️</span>
            Ajouter aux favoris
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
